menuconfig ARCH_ASPEED
	bool "Aspeed BMC architectures"
	select OF
	select SRAM
	help
	  Say Y here if you want to run your kernel on hardware with an
	  ASpeed BMC SoC.

if ARCH_ASPEED

config MACH_AST_G4
	bool "Aspeed SoC 4th Generation" if ARCH_MULTI_V5
	depends on ARCH_ASPEED
	select CPU_ARM926T
	help
	 Say yes if you intend to run on an Aspeed ast2400 or similar
	 fourth generation BMCs, such as those used by OpenPower Power8
	 systems.

config MACH_AST_G5
	bool "Aspeed SoC 5th Generation" if ARCH_MULTI_V6
	depends on ARCH_ASPEED
	select CPU_V6
	help
	 Say yes if you intend to run on an Aspeed ast2500 or similar
	 fifth generation Aspeed BMCs.

endif
