// SPDX-License-Identifier: GPL-2.0
/*
 * LiteX-based System on Chip
 *
 * Copyright (C) 2019 Antmicro <www.antmicro.com>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "opencores,or1klitex";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&pic>;

	aliases {
		serial0 = &serial0;
	};

	chosen {
		stdout-path = &serial0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x10000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			compatible = "opencores,or1200-rtlsvn481";
			reg = <0>;
			clock-frequency = <100000000>;
		};
	};

	leds {
		compatible = "gpio-leds";

		ld0 {
			label = "arty:green:ld0";
			linux,default-trigger = "heartbeat";
			gpios = <&green_led_gpios 0 GPIO_ACTIVE_HIGH>;
		};

		ld1 {
			label = "arty:green:ld1";
			gpios = <&green_led_gpios 1 GPIO_ACTIVE_HIGH>;
			panic-indicator;
		};

		ld2 {
			label = "arty:green:ld2";
			gpios = <&green_led_gpios 2 GPIO_ACTIVE_HIGH>;
		};

		ld3 {
			label = "arty:green:ld3";
			gpios = <&green_led_gpios 3 GPIO_ACTIVE_HIGH>;
		};
	};

	pic: pic {
		compatible = "opencores,or1k-pic-level";
		#interrupt-cells = <1>;
		interrupt-controller;
	};

	serial0: serial@e0002000 {
		device_type = "serial";
		compatible = "litex,liteuart";
		reg = <0xe0002000 0x100>;
		interrupts = <0>;
	};

	soc_ctrl0: soc_controller@e0000000 {
		compatible = "litex,soc-controller";
		reg = <0xe0000000 0xc>;
	};

	mac0: mac@e0004800 {
		compatible = "litex,liteeth";
		reg = <0xe0004800 0x7c
		       0xe0004000 0x0a
		       0x80000000 0x2000>;
		tx-fifo-depth = <2>;
		rx-fifo-depth = <2>;
		interrupts = <2>;
	};

	green_led_gpios: gpio@e0005000 {
		compatible = "wd,mbl-gpio", "basic-mmio-gpio";
		reg = <0xe0005000 0x1>;
		reg-names = "dat";

		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "ld0", "ld1", "ld2", "ld3", "", "", "", "";
	};
};
