/dts-v1/;

#include "ast2400.dtsi"

/ {
	model = "Palmetto BMC";
	compatible = "tyan,palmetto-bmc", "aspeed,ast2400";

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,38400";
	};

	memory {
		reg = < 0x40000000 0x10000000 >;
	};
};

&uart5 {
	status = "okay";
};
